In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
df = pd.read_csv('/Users/huiqiongwu/Desktop/data_science_project/association-rule-mining/Bakery.csv')
df.head(5)

   TransactionNo          Items             DateTime  Daypart  DayType
0              1          Bread  2016-10-30 09:58:11  Morning  Weekend
1              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
2              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
3              3  Hot chocolate  2016-10-30 10:07:57  Morning  Weekend
4              3            Jam  2016-10-30 10:07:57  Morning  Weekend

In [3]:
df = df.groupby(['TransactionNo', 'Items'])['Items'].count().reset_index(name='Quantity')
df

       TransactionNo          Items  Quantity
0                  1          Bread         1
1                  2   Scandinavian         2
2                  3        Cookies         1
3                  3  Hot chocolate         1
4                  3            Jam         1
...              ...            ...       ...
18882           9682   Tacos/Fajita         1
18883           9682            Tea         1
18884           9683         Coffee         1
18885           9683         Pastry         1
18886           9684      Smoothies         1

[18887 rows x 3 columns]

In [4]:
pivot_df = pd.pivot(df, index='TransactionNo', columns='Items', values='Quantity').fillna(0)
pivot_df

Items,Adjustment,Afternoon with the baker,Alfajores,Argentina Night,Art Tray,Bacon,Baguette,Bakewell,Bare Popcorn,Basket,...,The BART,The Nomad,Tiffin,Toast,Truffles,Tshirt,Valentine's card,Vegan Feast,Vegan mincepie,Victorian Sponge
TransactionNo,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9680,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
9682,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9683,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9684,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
## Encode values
def encode_units(x):
    if x <= 0:
        return False
    if x >= 1:
        return True
bakery_df = pivot_df.applymap(encode_units)
bakery_df.head()

Items,Adjustment,Afternoon with the baker,Alfajores,Argentina Night,Art Tray,Bacon,Baguette,Bakewell,Bare Popcorn,Basket,...,The BART,The Nomad,Tiffin,Toast,Truffles,Tshirt,Valentine's card,Vegan Feast,Vegan mincepie,Victorian Sponge
TransactionNo,,,,,,,,,,,,,,,,,,,,,
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
## Generate frequent itemsets
frequent_itemsets = apriori(bakery_df, min_support = 0.03, use_colnames = True)
frequent_itemsets

     support             itemsets
0   0.036344          (Alfajores)
1   0.327205              (Bread)
2   0.040042            (Brownie)
3   0.103856               (Cake)
4   0.478394             (Coffee)
5   0.054411            (Cookies)
6   0.039197         (Farm House)
7   0.058320      (Hot chocolate)
8   0.038563              (Juice)
9   0.061807          (Medialuna)
10  0.038457             (Muffin)
11  0.086107             (Pastry)
12  0.071844           (Sandwich)
13  0.034548              (Scone)
14  0.034443               (Soup)
15  0.142631                (Tea)
16  0.033597              (Toast)
17  0.090016      (Coffee, Bread)
18  0.054728       (Coffee, Cake)
19  0.035182  (Coffee, Medialuna)
20  0.047544     (Coffee, Pastry)
21  0.038246   (Coffee, Sandwich)
22  0.049868        (Coffee, Tea)

In [8]:
## Decide association rules
association_rules(frequent_itemsets, metric = "confidence", min_threshold = 0.2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bread),(Coffee),0.327205,0.478394,0.090016,0.275105,0.575059,-0.066517,0.719561
1,(Cake),(Coffee),0.103856,0.478394,0.054728,0.526958,1.101515,0.005044,1.102664
2,(Medialuna),(Coffee),0.061807,0.478394,0.035182,0.569231,1.189878,0.005614,1.210871
3,(Pastry),(Coffee),0.086107,0.478394,0.047544,0.552147,1.154168,0.006351,1.164682
4,(Sandwich),(Coffee),0.071844,0.478394,0.038246,0.532353,1.112792,0.003877,1.115384
5,(Tea),(Coffee),0.142631,0.478394,0.049868,0.349630,0.730840,-0.018366,0.802014

Analysis:
The popular itemsets with at least 3% support are {coffee, bread}, {coffee, cake}, {coffee, medialuna}, {coffee, pastry}, {coffee, sandwich}, {coffee, tea}. Moreover, based on the values of lift and confidence, the most popuar transactions are {coffee, cake}, {coffee, medialuna}, {coffee, pastry}, {coffee, sandwich}.

Recommendations:
1. Pack  {coffee, cake}, {coffee, medialuna}, {coffee, pastry}, {coffee, sandwich} together as bundles
2. Provide discount or coupons for the bundles.

Benefits:
1. Help customers save time 
2. Promotion can attract more customers and increase customer loyalty